.dashboard {
  display: flex;
  height: 100vh;
  background: #0d1b2a;
  color: white;
  font-family: Inter, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #000814;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  color: #FCA311;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar button {
  background: #FCA311;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* BANNER */
.banner {
  background: linear-gradient(90deg, #14213D, #1f3b73);
  padding: 20px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
}

/* BADGE */
.badge {
  background: #FCA311;
  padding: 5px 10px;
  border-radius: 8px;
  color: black;
}

/* STATS */
.stats {
  display: flex;
  gap: 15px;
}

.card {
  flex: 1;
  background: #14213D;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card h1 {
  color: #FCA311;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  flex: 1;
}

/* BIG CARD */
.big-card {
  background: #14213D;
  padding: 20px;
  border-radius: 14px;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.actions div {
  flex: 1;
  background: #0d1b2a;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.actions div:hover {
  transform: scale(1.05);
  border: 1px solid #FCA311;
}

/* ANALYTICS */
.side-card {
  background: #14213D;
  padding: 20px;
  border-radius: 14px;
}

/* PROGRESS */
.progress-box {
  width: 100px;
  margin: 15px auto;
}

.progress-text {
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.mini-stats {
  margin-top: 10px;
  font-size: 13px;
}

/* CALENDAR */
.calendar-card {
  background: #14213D;
  padding: 20px;
  border-radius: 14px;
}

.calendar {
  border-radius: 10px;
  overflow: hidden;
}

/* EVENTS */
.events {
  margin-top: 10px;
  font-size: 12px;
  color: #ccc;
}