.home{
  font-family:Poppins, sans-serif;
  background:#F4F1EE;
}


/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:#2A9D8F;
  color:white;
}

.nav-links a{
  margin-left:25px;
  text-decoration:none;
  color:white;
}

.nav-links a:hover{
  color:#E76F51;
}


/* HERO */

.hero{
  text-align:center;
  padding:140px 20px;
  background:linear-gradient(135deg,#2A9D8F,#1f7f76);
  color:white;
}

.hero h1{
  font-size:48px;
}

.hero p{
  margin-top:15px;
  font-size:18px;
}

.hero-btn{
  margin-top:30px;
  padding:14px 30px;
  border:none;
  border-radius:8px;
  background:#E76F51;
  color:white;
  cursor:pointer;
}

.hero-btn:hover{
  background:#d65c40;
}


/* FLOATING CARD */

.floating-card{
  background:white;
  width:80%;
  margin:auto;
  margin-top:-70px;
  padding:40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  text-align:center;
}

.feature-container{
  margin-top:30px;
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.feature{
  width:200px;
}

.icon{
  font-size:40px;
  margin-bottom:10px;
}


/* CTA */

.cta{
  text-align:center;
  padding:100px 20px;
  background:#2A9D8F;
  color:white;
  margin-top:80px;
}

.cta-btn{
  margin-top:25px;
  padding:12px 28px;
  border:none;
  border-radius:6px;
  background:#E76F51;
  color:white;
  cursor:pointer;
}


/* FOOTER */

.footer{
  background:#1b5e57;
  color:white;
  text-align:center;
  padding:40px;
}