/* RESET */
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* FULL SCREEN CENTER */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #2A9D8F, #264653);
}

/* CARD */
.login-left {
  width: 380px;
  padding: 40px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);

  box-shadow: 0 20px 60px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

/* TITLE */
.login-left h2 {
  font-size: 32px;
  margin-bottom: 5px;
}

.login-left p {
  margin-bottom: 25px;
  color: #e0e0e0;
}

/* INPUTS */
.login-left input,
.login-left select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border: none;
  border-radius: 8px;

  background: rgba(255,255,255,0.2);
  color: white;
  outline: none;
}

.login-left input::placeholder {
  color: #ddd;
}

/* BUTTON */
.login-left button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #E76F51;
  color: white;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.login-left button:hover {
  background: #d65c40;
  transform: scale(1.05);
}

/* LINK */
.signup-text {
  margin-top: 15px;
}

.signup-text a {
  color: #2A9D8F;
  font-weight: 500;
}
.login-left select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border-radius: 8px;
  border: none;

  background: rgba(255,255,255,0.2);
  color: white;

  outline: none;
  appearance: none; /* removes default style */
}

/* Dropdown options */
.login-left select option {
  background: #2A9D8F;
  color: white;
}