.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, #0d1b2a, #1b263b);
  color: white;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #0b132b;
  padding: 20px;
}

.logo {
  color: #FCA311;
  margin-bottom: 30px;
}

.sidebar p {
  margin: 15px 0;
  cursor: pointer;
  color: #ccc;
}

.sidebar p:hover {
  color: #FCA311;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}